*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/*===========================================================================*/
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/*===========================================================================*/

/*схема разметки
page
content
result             content__details
videocontainer     h1
  video            content__list-container
search-form          content__list
                    content__list-item
                          content__card-link content__card-link_current
                     button 

*/


.content {
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: end;
  width: 1140px;
  gap: 30px;
  opacity: 1;
}

.result {
  display: flex;
  opacity: 1;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 399px;
  opacity: 1;
  gap: 21px;
}

.result{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 711px;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  opacity: 1;
  position: relative;
  margin-top: 200px;
}

.result__video-container>video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}



.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.title>.content__accent {
  color: #545050;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow-y: auto;
  gap: 30px;
  position: relative
}

/*блок с карточками*/
.content__list {    
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content__video-card {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: start;
}

.content__card-link {
  text-decoration: none;
  color: white;
  display: block;
  background-color: transparent;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 196px;
  margin-bottom: 5px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 196px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

/*============================================================*/
/*
search-form
search-form__fieldset            search-form__fieldset    button
  search-form__fieldset-title     search-form__fieldset-title
  search-form__textfield          search-form__checkbox-list

*/
/*раздел с вводом города, чекбоксами и кнопкой*/
.search-form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;

}

.search-form__fieldset{
  display: flex;
  flex-direction: column;
  padding-top: 1px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 5px;
}

fieldset {
  border: none;
}

.search-form__textfield {
  border-left: none;
  border-right: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;

  color: #ffffff;
  background-color: #1B1919;
  appearance: none;
  height: 31px;
  width: 229px;

  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7)
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  width: 212px;
  gap: 15px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

/*==========================факультативное==================================*/

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgb(255, 255, 255);
}

.search-form__textfield:focus-visible {
  outline: none;
}


/*============================================================*/

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  opacity: 1;
  border: 1px solid #fff;
  padding: 1px;
  cursor: pointer
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  opacity: 1;
}


.search-form__label:hover:has(.search-form__checkbox) {
  text-decoration: underline;
}

/*==========================кнопки==================================*/

.button {
  min-height: 34px;
  gap: 10px;
  opacity: 1;
  color: #fff;
  border-width: 1px;
  background-color: rgba(1, 1, 1, 0);
  border: 1px solid #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  cursor: pointer
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  
}

.more-button {
  width: 100%
}


/*================================STEP 6=====================================*/
.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}


.content__list-item {
  padding: 3px;
}

